* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

/* Navbar */
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

/* Footer */
.footer {
    background-color: #0B0D17;
}

.footer__link {
    text-decoration: none;
}

/* boton */
.btn-primary {
    background-color: #F28705 !important;
    border: #F28705 !important;
}

/* Home Page */
.principal__img {
    width: 250px;
    height: 250px;
}

.principal__title {
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    color: #18191F;
}

.principal__paragraph {
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #18191F;
}

.experience__title {
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    color: #18191F;
}

.experience__card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.experience__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #18191F;
}

.banner {
    background-image: url(../img/bannerprincipal.jpg);
    height: 250px;
    background-size: cover;
}

.testimonial {
    background-color: #F28705;
}

.testimonial__title {
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
}

.testimonial__card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.testimonial__text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #18191F;
}

.testimonial__comment {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #18191F;
}

.testimonial__name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.testimonial__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px #fff;
}

.social__title {
    background: #F28705;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

/* About us */

.about {
    background-color: #F28705;
}

.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.about__phrase {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.thrid__img {
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.about-banner {
    background-image: url(../img/banneraboutus.jpg);
    height: 450px;
    background-size: cover;
}


.thrid__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #18191F;
}

.thrid__phrase {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #18191F;
}

.thrid__contact {
    background: #F28705;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;

}

/* Product Page */

.trending__card,
.products__card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.story {
    background-color: #F28705;
}

.story__phrase {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.455em;
    text-transform: capitalize;
}

.story__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 74px
}

.story__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}


/* Form Page */

.title__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #0D0D0D;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.form-label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #0D0D0D;
}

.form__card {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.text-area {
    resize: none;
}

.map {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.map__title {
    background: #FFFFFF;
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgb(19 18 66 / 7%);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (min-width:1024px) {
    .principal__img {
        width: 500px;
        height: 500px;
    }
}