$colorText: #18191F;
$socialimg: (social1, social2, social3);
$ancho: 100px;
$alto: 100px;
$palette: ('primario' : #f38705,
    'blanco' : #FFF,
    'blanco2': #EFF0F7,
    'negro' : #18191f,
    'hover' : #f06705);