//footer
.footer {
    background-color: color('negro');
    color: color('blanco');
    hr {
        border: 1px solid color('blanco');
    }
    a {
        padding: 0px 20px;
        margin: 0px auto;
        text-align: center;
        color: color('blanco');
        text-transform: uppercase;
    }
}