.principal {
    @include principal
}

.experience {
    @include contenedor
}

.banner {
    @include banner;
    background-image: url(../img/bannerprincipal.jpg)
}

.testimonial {
    @include contenedor-orange;

    h2 {
        color: color('blanco');
        margin: 50px auto;
    }

    .carta {
        max-width: 1000px;

        h3 {
            margin-top: 15px;
        }

        p {
            padding: 20px;
        }
    }

    .avatar {
        img {
            margin-top: 20px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: solid 2px color('blanco');
        }

        p {
            color: color('blanco');
        }
    }
}

.social {
    @include contenedor;
    margin-top: 20px;

    h4 {
        color: color('blanco');
        background-color: color('primario');
        padding: 20px;
        text-align: center;
        margin: 50px auto;
    }

    img {
        width: $ancho + 90;
        height: $alto + 90;
        opacity: 0%;
    }

    @each $social in social1, social2, social3 {
        .#{$social}-img {
            width: $ancho * 2;
            height: $alto * 2;
            background-image: url('../img/#{$social}.jpg');
            transition: all 0.3s ease;

        }

        & .#{$social}-img:hover {
            background-image: url('../img/#{$social}.png');
            width: $ancho * 2;
            height: $alto * 2;
            background-position: cover;
            background-size: cover;
        }
    }
}